// Place all the styles related to the patient/ostomies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btnx-pink{
    background: #f08080;
}
.btnx-blown{
    background: #A0522D;
}
.btnx-black{
    background: black;
}
