<div "container">
 <div class='row'>
   <% @ostomies.each do |ostomy|%>
     <table>
         <tr>
             <th>記録した日付</th>
             <th>いろ</th>
             <th>むくみ</th>
         </tr>

          <tr>
            <td><%= ostomy.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= ostomy.color_i18n %></td>
            <td><%= ostomy.edema_i18n %></td>
          </tr>
          <tr><td><%=link_to "詳細を見る",patient_ostomy_path(ostomy),class: "btn btn-success btn-lg"%></td></tr>
     </table>
       <%end%>

 </div>
</div>