<div class ="container">
  <div class='row'>
      <div class='col-8'>
    <h4 class = "mt-md-4 mb-md-2">マイページ</h4>
    <table class ="table">
       <tr>
        <th></th>
        <td><%=link_to "編集する",edit_patient_patient_path(current_patient) ,class: "btn btn-success"%></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= @patient.name %></td>
      </tr>
      <tr>
        <th>名前(かな)</th>
        <td><%= @patient.name_kana %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @patient.email %></td>
      </tr>
    </table>
    </div>
    </div>
    </div>