<div class ="container">
  <div class='row'>
      <div class ="col-3 ostomymark"></div>
      <div class='col-9'>
        <h4 class = "mt-md-4 mb-md-2">STOMA CARE(ストーマケア)</h4>
      <h3></h3>
      　　<div class ="mb-md-4">ストーマは自分の腸や尿管を直接おなかの外に出し、便や尿の排泄をします。
      　　  </br>便を貯める働きはなく、便を出す働きのみになり、自分の意識とは無関係に排泄されます。
      　　</br> そのため、ストーマ用の装具(袋)をお腹に貼り便を貯めて排出します。
      　　</div>
        <div class ="mb-md-4">はじめのうちは看護師がストーマ装具の交換を行います。
        </br>その後、体力の回復に合わせて一緒に説明しますので、徐々にできるようになります。
        </br>不安なこと、気になること多くあると思います。気軽に相談ください。</div>
        </div>
      </div>
  <div class='row'>
      <div class ="col-3 items"></div>
      <div class='col-9'>
      <h3 class ="mb-md-4">ストーマ交換時に必要な物品</h3>
      <table class ="table">
        <tr>
          <th>ストーマ装具</th>
          <td>気になることは,気軽に相談してください</td>
        </tr>
        <tr>
          <th>剥離剤(はくりざい)/リムーバー</th>
          <td>ストーマ装具を皮膚からやさしくはがす時に必要です</td>
        </tr>
        <tr>
          <th>泡の石鹸(または弱酸性洗浄料)</th>
          <td>洗う時に必要です、泡立てた石鹸でもOKです</td>
        </tr>
        <tr>
          <th>拭き取りガーゼ(ぬれたもの・乾いたもの)</th>
          <td>洗う時に必要です。キッチンペーパーを使う方もいます</td>
        </tr>
        <tr>
          <th>洗い用ぬるま湯</th>
          <td>自身でできる場合など、シャワーを浴びる際に交換する方もいます</td>
        </tr>
        <tr>
          <th>細いマジックペン</th>
          <td>ストーマ装具を貼り付ける部分をカットする前に線を引きます</td>
        </tr>
        <tr>
          <th>ハサミ</th>
          <td>ストーマ装具を貼り付ける部分を切るため</td>
        </tr>

        <tr>
          <th>ビニール袋</th>
          <td>ケア時に出たゴミを捨てます</td>
        </tr>
        <tr>
          <th>その他必要なもの</th>
          <td>それぞれ合った方法があるので一緒に見つけていきましょう</td>
        </tr>
      </table>
  </div>
  </div>

  <div class='row'>
      <div class ="col-3 care"></div>
      <div class='col-9'>

      <h3>ストーマ交換の流れ</h3>
      <table class ="table">
        <tr>
          <th>(1)石鹸で手を洗う</th>
          <td>清潔にしてから交換しましょう</td>
        </tr>
        <tr>
          <th>(2)リムーバーをたらし、やさしくはがしていく</th>
          <td>刺激しないように少しずつ剥がすことで、皮膚トラブルを防ぎます</td>
        </tr>
        <tr>
          <th>(3)泡石鹸でストーマ周りの皮膚をやさしく洗う</th>
          <td>泡は見えない汚れも落とせます、やさしく洗い皮膚トラブルを防ぎます</td>
        </tr>
        <tr>
          <th>(4)濡れガーゼ・シャワーなどで石鹸を落とす</th>
          <td>石鹸が残ると皮膚が荒れたり、装具がうまく貼れないことがあります</td>
        </tr>
        <tr>
          <th>(5)乾いたガーゼで余分な水分を拭く</th>
          <td>濡れていると装具がうまく貼れないことがあります。</td>
        </tr>
        <tr>
          <th>(6)皮膚を観察する</th>
          <td>皮膚トラブルが起きていないか見てみましょう</td>
        </tr>
        <tr>
          <th>(7)ストーマに合わせて装具を貼りつける</th>
          <td>装具の周囲を押さえて密着させます。2～3分押さえると密着が良いです。</td>
        </tr>
        <tr>
          <th>(8)下端のプレートを手前に折り、</br>  ストーマ袋の口を閉める</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class='row'>
      <div class='col-12'>
      <h3>ストーマのケア方法や、サービスはさまざまあります</h3>
      <table class="table">
        <tr>
          <th>オストメイトなび</th>
          <td>オストメイトトイレの場所、サービスなど情報がもらえます<a href="https://m-akt.jp/">運営はこちらのNPO</a>
          </td>
          <td><a href="https://itunes.apple.com/jp/app/osutomeitonabi/id989232229?mt=8" class="bcu_inner" style="display: inline-block;" target="_blank">
             <img src="https://shien-network.kanafuku.jp/global-image/units/img/12806-6-20181225122446_b5c21a2fe33315.png" alt="" style="width: 147px;">
            </a>
          </td>
          <td>
            <a href="https://play.google.com/store/apps/details?id=com.navi.ostomate&amp;hl=ja" class="bcu_inner" style="display: inline-block;" target="_blank">
             <img src="https://shien-network.kanafuku.jp/global-image/units/img/12806-5-20181225122446_b5c21a2fe3194b.png" alt="" style="width: 147px;">
            </a>
          </td>
        </tr>

        <tr>
          <th>
            <a href="http://www.ostomate.jp/"><!--オストメイトJP HPにて出されているコード-->
              <img src="https://www.ostomate.jp/images/banner/logo.png" alt="オストメイトJP">
            </a>
          </th>
          <td>
            <a href="http://www.ostomate.jp/">オストメイトトイレの場所情報がもらえるサイトです。アプリもあります。</a>
          </td>
          <td>
              <a href="https://geo.itunes.apple.com/jp/app/osutomeitojp-osutomeito-dui/id1044060415?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:147px;height:40px;">
              </a>
          </td>
          <td>
              <a href="https://play.google.com/store/apps/details?id=com.kantansystems.ostomatejp&hl=ja&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">
               <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/ja-play-badge.png" style="width:147px;height:auto;" />
              </a>
          </td>
        </tr>
      </table>


      </div>
  </div>
</div>