/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require_tree .
 */
 @import "bootstrap";

header{
  background-image: image-url('22112149.jpg');
 // width: 100%;
 // background-size: contain;
 // height: 150px;
 //background-color: #FFD159;
}

 div{
 .error_explanation {
 background-color: #367002;
 color: #367002;
 }
 }
 .devise-error-messages {
  color: #367002;
}
 .messages {
  color: #367002;
}


//kaminariページングの色つけ
.pagination {
  justify-content: center;
  color: green;
}
.page-link {
  color: green;
}
.page-item.active .page-link {
background-color: green;
border-color: green;
}

// ############################################################################################
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  //background-color: #f0f8ff;
}

 header {
   height: 85px;
//   width: 100%;
   padding: 20px 15px;
//   background-color: rgba(34, 49, 52, 0.9);
//   position: fixed;
//   top: 0;
//   z-index: 10;
   display: flex;
}

.logo {
  font-size: 25px;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  display: flex;
  list-style: none;
  padding: 20;
  margin: 0;
}

a {
  //color: #ffffff;
  color: green;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

.sm {
  display: none;
}


/**********************************
以下、ハンバーガーメニューの設定
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: green;
    border-radius: 8px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      top: 60px;
      left: 10px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  ul {
    flex-direction: column;

  }

  a {
    text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
}