<div "container">
    <div class='row'>
        <div class='col-8 offset-2'>
          <h4 class="pt-3">医療staffマイページ</h4>
          <div class='row'>
          
           </div>

           <table class="table table-bordered my-3">
             <tr>
              <th class="table-active col-3">氏名</th>
               <td><%= @staff.name %></td>
             </tr>

             <tr>
               <th></th>
               <td> <%= link_to "編集する",edit_staff_staff_path,class:'btn btn-success'%></td>
             </tr>
             </div>
             </div>
             </div>